doctype html
html(lang="en")
    block head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title BGC Atlas
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js")
    body
        main
            div.container-fluid.bg-dark.text-white.text-center.d-flex.h-100.flex-column
                nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
                    .container-fluid
                        a.navbar-brand(href='/') BGC Atlas
                        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#mynavbar')
                            span.navbar-toggler-icon
                        #mynavbar.collapse.navbar-collapse
                            ul.navbar-nav.me-auto
                                li.nav-item
                                    a.nav-link(href='/') Home
                                li.nav-item
                                    a.nav-link(href='/samples') Samples
                                li.nav-item
                                    a.nav-link(href='/bgcs') BGCs
                                li.nav-item
                                    a.nav-link(href="") Search
                                li.nav-item
                                    a.nav-link(href="") Downloads
                                li.nav-item
                                    a.nav-link(href="") About
                            form.d-flex
                                input.form-control.me-2(type='text' placeholder='Search')
                                button.btn.btn-primary(type='button') Search
                block content
                footer.text-center
                    p University of Tübingen - 2023


        block scripts

        block styles
            link(rel="stylesheet", href="/stylesheets/style.css")

        //footer.text-center
        //    p University of Tübingen - 2023
