extends layout

block content
    div.row
        div.col-sm-3.d-flex.align-items-center
            //h1 BGC Atlas
            div.d-inline-block.mx-auto
                img(src='images/BGC-Atlas-logo.png' style='max-height: 25%; max-width:25%;')
        div.col-sm-6
            p
            p Welcome to BGC Atlas.
            p This is a web resource where the diversity of biosynthetic gene clusters (BGCs) found in various environments can be explored through analysis of publicly available metagenomic datasets.
            p To being exploration, check out <a href='/samples'>Samples</a>, <a href='/bgcs'>BGCs</a>, or <a href='/gcfs'>GCFs</a> pages; or <a href='/search'>Search</a> your query BGCs against the collection of BGCs and GCFs deposited here.
        div.col-sm-3.d-flex.align-items-center
            table(style="text-align: center;" class="text-center mx-auto")
                colgroup
                    col(style="width:100%;")
                    col(style="width:100%;")
                tr
                    td <b>Samples</b>
                    td#samples-count ...
                tr
                    td <b>Analyzed</b>
                    td#analyzed-count ...
                tr
                    td <b>Running</b>
                    td#running-count ...
                tr
                    td <b>BGCs</b>
                    td#bgcs-count ...
                tr
                    td <b>Complete BGCs</b>
                    td#compl-bgcs ...
                tr
                    td <b>GCFs</b>
                    td#gcfs-count 13854
    div.row.flex-fill.d-flex.justify-content-start
        div.col-sm-12.text-center
            #map.flex-grow-1(style="height:100%;")


block append head
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.3/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.9.3/dist/leaflet.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js')
    script(src='/javascripts/map.js')

block styles
    style.
        .leaflet-container {
            background-color: rgba(255, 0, 0, 0.0);
        }

        .leaflet-control-container {
            background-color: rgba(255, 0, 0, 0.0);
        }


block scripts
    script.
        document.addEventListener("DOMContentLoaded", function () {
            getSampleInfo();
            createMap();
        });