extends layout

block content
    div.row.flex-fill.d-flex.justify-content-start(style=height="inherit;")
        div.col-sm-12.bg-white.text-dark
            style.
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                    padding: 8px;
                    text-align: left;
                / / Align text to the left
                }

                .container {
                    padding-left: 50px; /* Adjust as needed */
                    padding-right: 50px; /* Adjust as needed */
                    text-align: left;
                }

            .container
                br
                //- Privacy Policy
                h2 Privacy Policy
                br
                p Our services are provided by the University of Tübingen, Geschwister-Scholl-Platz, 72074 Tübingen, Germany. This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.
                br
                h3 What data do we collect?
                br
                p We collect several different types of information for various purposes to provide and improve our Service to you.
                p <strong> Personal Information Provided by You. </strong> We collect information that you provide to us when you use our services, or when you contact us. This information may include the following:
                ul
                    li Email addresses. We collect email addresses when you submit jobs through our webservices in order to inform you about the status of your job.
                br
                p We do not collect or store any other personal information including sensitive information.
                br
                p <strong> Information automatically collected. </strong> We automatically collect certain information when you visit, use or navigate the website. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our website and other technical information. This information is primarily needed to maintain the security and operation of our website, and for our internal analytics and reporting purposes. This information is not shared with third parties. This information may include the following:
                ul
                    li Log and Usage Data. Log and usage data is service-related, diagnostic usage and performance information our servers automatically collect when you access or use our website and which we record in log files. Depending on how you interact with us, this log data may include your IP address, device information, browser type and settings and information about your activity in the website (such as the date/time stamps associated with your usage, pages and files viewed, searches and other actions you take such as which features you use), device event information (such as system activity, error reports (sometimes called 'crash dumps') and hardware settings).
                h3 How will we use your data?
                br
                p We use the information we collect or receive:
                ul
                    li Email you about the status of your job submission(s).
                    li To provide and maintain our Service, including to monitor the usage of our Service.
                p We do not share your personal information with third parties.
                br
                h3 How do we store your data?
                br
                p We store your data on secure servers located at the University of Tübingen, Germany.
                p We will keep your information (such as email addresses) for as long as necessary to provide you with our services, and at most for 90 days, after which it will be deleted.
                br
                h3 Marketing
                br
                p We do not use your personal information for marketing purposes.
                br
                h3 What are your data protection rights?
                br
                p We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
                p <strong> The right to access. </strong> You have the right to request copies of your personal data.
                p <strong> The right to rectification. </strong> You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.
                p <strong> The right to erasure. </strong> You have the right to request that we erase your personal data, under certain conditions.
                p <strong> The right to restrict processing. </strong> You have the right to request that we restrict the processing of your personal data, under certain conditions.
                p <strong> The right to object to processing. </strong> You have the right to object to our processing of your personal data, under certain conditions.
                p <strong> The right to data portability. </strong> You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.
                p If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: nadine.ziemert@uni-tuebingen.de <br> Call us at: +49 (0) 7071 2978841 <br> Or write to us: Auf der Morgenstelle 24, 72076, Tübingen, Germany.
                br
                h3 Cookies
                br
                p Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.
                p For further information, visit allaboutcookies.org.
                br
                h3 What types of cookies do we use?
                p There are a number of different types of cookies, however, our website uses:
                ul
                    li Functionality - We use these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.
                br
                h3 How to manage cookies
                br
                p You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.
                br
                h3 Privacy policies of other websites
                br
                p Our website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.
                br
                h3 Changes to our privacy policy
                br
                p We keep our privacy policy under regular review and place any updates on this web page. This privacy policy was last updated on 22.03.2024.
                br
                h3 How to contact us
                br
                p If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
                p Email us at: nadine.ziemert@uni-tuebingen.de
                p Call us: +49 (0) 7071 2978841
                p Or write to us at: Auf der Morgenstelle 24, 72076, Tübingen, Germany.
                br
                p Last updated: 22.03.2024